h1 {
    text-align: center;
    color: white;
}

.container {
    color: black;
    width: 100%;
}

.txt-error {
    color: red;
    font-size: 18px;
}

.contact-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
.contact-field {
    width: 100%;
}

input {
    color: white;
}

textarea {
    color: white;
}