################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImportTool.ConsoleApp/bin/Debug/net5.0
/ImportTool.ConsoleApp/obj/Debug/net5.0/ref
/ImportTool.ConsoleApp/obj/Debug/net5.0
/ImportTool.ConsoleApp/obj
/Phoneshop.ConsoleApp/bin/Debug/net5.0
/Phoneshop.WinForms/bin/Debug/net5.0-windows
/Phoneshop.WinForms/obj/Debug/net5.0-windows/ref
/Phoneshop.WinForms/obj/Debug/net5.0-windows/refint
*.testlog
*.manifest
/Phoneshop.WinForms/obj
/.vs
/Phoneshop.Business/bin/Debug/net5.0
/Phoneshop.Business/obj/Debug/net5.0/ref
/Phoneshop.Business/obj
/Phoneshop.ConsoleApp/obj
/Phoneshop.ConsoleApp/bin/Debug/net5.0
/Phoneshop.Domain/bin/Debug/net5.0
/Phoneshop.Domain/obj
/Phoneshop.UnitTests/bin/Debug/net5.0
/Phoneshop.UnitTests/obj
/Phoneshop.WinForms/bin/Debug/net5.0-windows
/Phoneshop.WinForms/obj
/ImportTool.ConsoleApp/bin/Debug/net5.0
/ImportTool.ConsoleApp/obj
/ImportTool.ConsoleApp/bin/Debug/net6.0
/Phoneshop.Business/bin/Debug/net6.0
/Phoneshop.ConsoleApp/bin/Debug/net6.0
/Phoneshop.Domain/bin/Debug/net6.0
/Phoneshop.WinForms/bin/Debug/net6.0-windows
/Phoneshop.Api/bin/Debug/net6.0
/Phoneshop.Api/obj
/ImportTool.ConsoleApp/bin/Release/net6.0
/Phoneshop.Api/bin/Release/net6.0
/Phoneshop.Business/bin/Release/net6.0
/Phoneshop.Business.Tests/bin
/Phoneshop.Business.Tests/obj
/Phoneshop.ConsoleApp/bin/Release/net6.0/runtimes
/Phoneshop.ConsoleApp/bin/Release/net6.0
/Phoneshop.Domain/bin/Release/net6.0
/Phoneshop.WinForms/bin/Release/net6.0-windows/runtimes
/Phoneshop.WinForms/bin/Release/net6.0-windows/Scrapers/Drivers
/Phoneshop.WinForms/bin/Release/net6.0-windows
/PhoneshopScrapper/bin/Release/net6.0
/PhoneshopScrapper/bin/Debug/net6.0
/PhoneshopScrapper/obj
