.container {
    background-color: black;
    color: white;
    width: 500px;
    height: 190px;
    margin-top: 10px;
    padding-top: 20px;
}

.image {
    width: 150px;
    height:150;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid white;
}

.name {
    font-size: 24px;
    margin-left: 185px;
    margin-top: 10px;
}

.priceStock {
    font-size: 18px;
    margin-left: 185px;
    margin-top: 5px;
}

.info {
    margin-bottom: 10px;
    height: 160px;
    position: relative;
}

.button {
    bottom: 0;
    margin-left: 180px;
    height: 40px;
    width: 120px;
    position: absolute;
}